
body{

   width: 100%; height: 100%; margin: 0px; padding: 0px;
}
@font-face {
    font-family: Moon-Bold;
    src: url(/MoonBold.otf);
}
@font-face {
    font-family: "HelveticaNeue";
    src: url(/HelveticaNeue-UltraLight.otf);
   
}
.problem {text-align:center;}
.enclose {position: fixed;bottom:10px;width:100%;}
.enclose :hover{
  color:blue;
}
.img-class{
  margin-top: 1.5vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 183px;
  height: 183px;
  object-fit: cover;
}
.scrolls {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 190px;
    white-space:nowrap;
    }


.wrapper{
      background:#EFEFEF;
       box-shadow: 1px 1px 10px #999;
       margin: 0 auto;
       position: relative;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;
       margin-bottom: 20px !important;
       width: 80%;
       padding-top: 5px;
       display: block;
}


.container-fluid {
  margin: 0%;
  width:100%;
  padding: 0px;


}

.topnav {
  overflow: hidden;
  top:0;
  text-align: center;
  width: 100%;

  background-color: #ffffff;




}

.topnav a {
   font-family: HelveticaNeue;
   font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
    display: inline-block;
    color: #130F0D;

    padding: 15px 20px;
      text-decoration: none;


}

.topnav a:hover {
  background-color: #D8D8D8;
}




/* .topnav .icon {
  display: none;
} */

@media screen and (max-width: 800px) {
  .profile-name{
    /* margin-top: 10px; */
  }
  .profile-name p{
    font-size: 20px;
    padding-top: 0px;
  }

  .about{
    font-family:monospace, HelveticaNeue, AndaleMono;
    font-size: 14px;
    letter-spacing: 0.40px;
    color: #373737;
    text-align:justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
  }
  #ss{
    font-size: 16px;

  }
  #contact{
    font-size: 18px;


  }
  #num{
    font-size: 14px;
  }
  /* #postcard{
    font-size: 16px;
  } */
  .icons-social {
    display: none;





  }
  .img-class{
    width: 110px;
    height: 110px;
  }


  #svg-img{

  }
/*   .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {

    display: block;
    background-color: #ECE8E8;
  } */
}
@media screen and (min-width: 801px) {
  .about{
    font-family: AndaleMono, monospace;
    font-weight: normal;
    font-size: 16px;
    color: #373737;
    letter-spacing: 1px;
    text-align:justify;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.skill-bar{
  /* font-size: 5vw; */
}



}
@media screen and (min-width: 1400px) {
  .about{
    font-family: AndaleMono, monospace;
    font-weight: normal;
    font-size: 16px;
    color: #373737;
    letter-spacing: 1px;
    text-align:justify;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.skill-bar{
  /* font-size: 5vw; */
}



}

@media screen and (max-width: 800px) {
/*   .topnav.responsive {
    position: relative;
  } */
/*   .topnav.responsive .icon {
    position: relative;

  } */
  .topnav  a {
    font-size: 16px;
    
/*     text-align: center; */

  }
}
.profile-name{
  /* Masroor Mattu: */
font-family: Moon-Bold, AndaleMono,Helvetica;
font-size: 46px;
color: #373737;
letter-spacing: 1.25px;
text-align: center;
margin-top: 20px;




}
.gradient{
  /* Rectangle 2: */
opacity: 0.5;


background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
}

.title{
  /* PROJECTS: */
  font-family: AndaleMono;
  font-size: 36px;
  color: #130F0D;
  letter-spacing: 2.6px;
  margin-top: 30vw;




}
.project-img{
  /* Oval 2: */
  margin-top: 1.5vw;

  display: inline-block;
  width:50%;
  width: 153px;
  height: 153px;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);



/* talkometer: */
}
.project-img1{
  /* Oval 2: */
  margin-top: 1.5vw;
  display: inline-block;
  width:50%;
  width: 153px;
  height: 153px;
  object-fit: cover;
}
.skills{
  /* Sketch/Invision: */

font-family: HelveticaNeue;
font-weight: lighter;
font-size: 20px;
color: #130F0D;
letter-spacing: 1.44px;
}

.bar {
    width: 70%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 5px;
    display:block;
    margin-right:auto;
    margin-left:auto;

}

.skill-bar {
  font-family: Helvetica,monospace;
  font-size: 2vw;
    text-align: left; /* Right-align text */
    padding-left: 20px; /* Add some right padding */
    line-height: 35px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */

}

.sketch { background-color: #4E4C4C;
  border-radius: 5px;
} /* dark-grey */

.box {
    background-color: #ffffff;


    box-shadow: 5px 5px 5px 5px  #888888;

    margin: 25px;
    padding: 30px;
}
section{
  width:100%;
  height:100vh;
}
#groceri{
  color:#808080;

}
#groceri:hover{
  color: blue;
}

#college{
  color:#808080;

}
#college:hover{
  color: #3FADA8;
}
